.wrapper {
  background-image: url('../assets/bg.jpg');
  background-position: center top;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  border-bottom: 3px solid #a03b4d9c;
  background-image: url('../assets/canvas-bg.jpg');
  background-repeat: no-repeat;
  background-size: 1100px 562px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #a03b4d9c;
}

.line {
  height: 4px;
  width: 350px;
  background: linear-gradient(to right, rgba(251,184,225,0) 5%,rgba(199, 109, 56, 0.49) 49%,rgba(251,184,225,0) 95%);
  margin: 43px 60px;
}

.spin-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.spin-btn {
  margin: 12px;
  border: 2px solid #f3cbcd91;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0 21px 0px #f7bbbf5e;
  background: linear-gradient(120deg, #710c86, #0f0113);
}

.spin-btn:before {
  content: url('../assets/icon.svg');
  position: relative;
  top: 8px;
}

.spin-btn:hover {
  box-shadow: 0 0 21px 0px #f7bbbf9c;
  background: linear-gradient(120deg, #84129c, #210329);
}

.github-link {
  position: fixed;
  left: 10px;
  top: 10px;
  height: 27px;
  width: 28px;
  background-color: #ffb4b9;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.github-link:before {
  content: url('../assets/github.png');
  position: relative;
  top: 3px;
  left: 3px;
}

.github-link:hover {
  background-color: white;
}
